<div class="relative bg-white py-6 px-6 rounded-3xl w-60 h-60 my-2 shadow-xl">
  <div>
    @switch (pqr.tipo) { @case ("Peticion") {<app-svg-pqr
      color="text-white flex items-center absolute rounded-full py-4 px-4 shadow-xl bg-yellow-500 left-4 -top-6"
    />} @case ("Sugerencia") {<app-svg-pqr
      color="text-white flex items-center absolute rounded-full py-4 px-4 shadow-xl bg-blue-500 left-4 -top-6"
    />} @case ("Queja") {<app-svg-pqr
      color="text-white flex items-center absolute rounded-full py-4 px-4 shadow-xl bg-red-500 left-4 -top-6"
    />} @case ("Felicitacion") {<app-svg-pqr
      color="text-white flex items-center absolute rounded-full py-4 px-4 shadow-xl bg-green-500 left-4 -top-6"
    />} }
  </div>

  <div class="mt-8">
    <p class="text-xl font-semibold my-2">{{ pqr.tipo }}</p>

    <div class="space-x-2 text-gray-400 text-sm my-3">
      <p>Contenido: {{ pqr.contenido }}</p>
    </div>

    <div class="flex justify-between">
      <div class="my-2">
        <p class="font-semibold text-base mb-2">Estado: {{ pqr.estado }}</p>
        <p class="space-x-2 text-gray-400 text-sm my-3 font-text-base mb-2">
          {{ pqr.createdAt | date }}
        </p>
      </div>
      <button
        (click)="deletePQR(pqr.id)"
        class="border border-gray-200 hover:bg-slate-200 w-10 h-10"
      >
        🗑️
      </button>
    </div>
  </div>
</div>
