<img
  src="https://previews.123rf.com/images/djvstock/djvstock1512/djvstock151200847/49022997-perfil-de-las-personas-de-dise%C3%B1o-ejemplo-gr%C3%A1fico-del-vector.jpg"
/>

<h1>Mi primera web de angular</h1>

@if (logueado) {
<h2>Bienvenido, {{ usuario }}</h2>

<p>Tus publicaciones</p>

@for (image of imagenes ; track image.id) {
<app-publicacion alt="{{ image.id }}" src="{{ image.src }}" />
<p></p>
}
<button (click)="logOut()">Cierra sesion</button>

} @else {
<h1>Debes iniciar sesion para continuar</h1>
<button (click)="logueado = true">Log In</button> }
