<div
  class="flex bg-slate-100 overflow-y-scroll w-screen h-screen antialiased text-slate-300 selection:bg-blue-600 selection:text-white"
>
  <app-side-menu />

  <div class="w-full items-center justify-center">
    <div class="w-full p-2 bg-gray-800"></div>
    <div class="w-full p-2 bg-yellow-600"></div>
    <img
      class="max-w-md"
      src="https://media.istockphoto.com/id/985051668/es/foto/mujer-de-tur%C3%ADstica-en-la-estaci%C3%B3n-de-tren.jpg?s=612x612&w=0&k=20&c=cQ8BLtbdh5IWxQb-es0SEeSO0HOe_rHF-Wb95VYOVWw="
    />
  </div>
</div>
