<div
  class="flex bg-slate-100 overflow-y-scroll w-screen h-screen antialiased text-black"
>
  <app-side-menu />

  <div class="w-full bg-slate-100 items-center justify-center">
    <div class="flex w-screen bg-gray-800 justify-center">
      @for (option of options ; track option.title){
      <div class="flex w-full">
        <app-pestana [routerLink]="option.path" name="{{ option.name }}" />
      </div>

      }
    </div>
  </div>

  <div class="w-screen">
    <router-outlet />
  </div>
</div>
