<div class="flex bg-slate-100 w-full h-full">
  <div class="text-slate-300 selection:bg-blue-600 selection:text-white">
    <app-side-menu />
  </div>

  <div class="w-full h-full items-center justify-center">
    <div>
      <app-header></app-header>
      <div class="md:flex md:justify-center py-4">
        <h2 class="text-3xl font-semibold text-gray-800">
          Selecciona la acción que deseas realizar
        </h2>
      </div>
      <div class="items-center justify-center max-w-5xl px-6 mx-auto">
        <div class="grid gap-8 mt-10 md:grid-cols-2 lg:grid-cols-2">
          @for (option of options ; track option.title){
          <app-pestana
            (click)="onNavigate = true"
            [routerLink]="option.path"
            routerLinkActive="bg-white"
            name="{{ option.name }}"
            descripcion="{{ option.descripcion }}"
          />
          }
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center max-w-5xl px-6 py-6 mx-auto">
      @if(!onNavigate){
      <img
        class="object-cover object-center w-full mt-16 rounded-md shadow h-80"
        src="https://cdn.pixabay.com/photo/2021/11/14/18/36/telework-6795505_1280.jpg"
      />
      }@else {
      <router-outlet />}
    </div>
  </div>
</div>
